language : node_js

node_js:
 - stable

sudo: required

services:
  - docker

before_script:
#  - mkdir blog && cd blog && git clone -b php-fpm https://github.com/fydy/docker_demo.git ./ && rm -rf .get
  - sed -i "s/juicyfx/fydy/g" `grep juicyfx -rnl ./*`
  - rm -rf packages/*
  - pwd
  - mkdir npme && cd npme && npm i now-wordpress@0.7.70 && pwd
#  - cd build
script:
#  - make
#  - ./build.sh
#  - docker login -u $DOCKER_USER -p $DOCKER_PASS
#  - export REPO=yunsme/issueblog
#  - docker tag now-php-docker-image yunsme/issueblog:php73
#  - docker push yunsme/issueblog:php73
#  - make build
#  - make distribution
#  - make test-php
#  - make test-fpm
    - cd build/php-lib
    - make build73
    - make dist73
    - cp /home/travis/build/fydy/docker_demo/.npmrc $HOME/.npmrc
    - cd node_modules/now-wordpress && npm i && cd node_modules/@fydy/php-fpm && npm i && node_modules/@fydy/php-lib-73 && rm -rf native && cp -cf /home/travis/build/fydy/docker_demo/packages/php-lib-73/native ./ && mv native nat && mv nat/php ./ && mv php native && mv nat/lib/* native/modules && rm -rf nat 
    - npm publish --access public --tag latest
#    - cd packages/php-lib-73
#    - npm publish --access public --tag latest
#    - make publish73
#    - make test-runtime
#    - make test-libs
    
after_script:
  - cd /home/travis/build/fydy/docker_demo/packages
  - ls -lR
  - git init
  - git remote add origin https://github.com/fydy/docker_demo.git
  - git add .
  - git commit -m "update"
  - git checkout -b now-php-lib
  - git push --quiet --force https://$now@github.com/fydy/docker_demo.git now-php-lib
